* {
  font-family: 'Ubuntu Mono', 'Courier Fallback';
  font-weight: bold;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a,
[data-open-modal] {
  transition: color, border-color, background-color;
  transition-duration: 300ms;
}

/* .link-title:where(.astro-u2l5gyhi) {
  font-size: 1rem;
} */

main h1 {
  color: var(--carnation-l);
}

.starlight-aside {
  border-radius: 0.5rem;
}

[data-open-modal]:hover {
  border-color: var(--carnation-l) !important;
  outline: var(--carnation-l) !important;
}

.content-panel img {
  border-radius: 100%;
}

.content-panel {
  padding-bottom: 0;
}

.sl-markdown-content img {
  border-radius: 0.5rem;
}

.meta {
  margin-block: 0;
  margin-bottom: 1rem;
  color: var(--carnation-l);
}

.separator {
  border-bottom: 1px solid var(--sl-color-gray-4);
  border-radius: 0;
}

/* coder image */

[alt="coder"] {
  width: 30rem;
}

/* mobile menu button */

[aria-label="Menu"] {
  box-shadow: none;
  border-radius: 0.4rem;
  background-color: var(--sl-color-gray-4);
  box-shadow: none;
}

[aria-expanded=true] [aria-label="Menu"] {
  background-color: var(--sl-color-gray-4);
}

/* giscus */
.giscus-wrapper {
  background-color: var(--sl-color-gray-3);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}


@media only screen and (max-width: 480px) {
  .expressive-code .copy {
    display: none !important;
  }
}

.secondary:hover {
  border-color: var(--carnation-l);
  color: var(--carnation-l);
}
